customtkinter
psutil
selenium
bs4
sounddevice
screen_brightness_control
pygetwindow
scipy
requests
winshell
win10toast
opencv-python
wmi
pywin32
soundfile
pyaudio
pycaw
patool
face_recognition
pillow
pyrubberband
openai-whisper
silero-vad
noisereduce
torch==2.3.1
torchaudio==2.3.1
numpy==1.26.4
setuptools==80
