setuptools
customtkinter
psutil
selenium
bs4
sounddevice
screen_brightness_control
keyboard
pygetwindow
scipy
requests
winshell
win10toast
opencv-python
wmi
pywin32
soundfile
sounddevice
pyaudio
comtypes
torch==2.3.1
numpy==1.26.4
vosk==0.3.38
